<div class='homepage-container'>
  {{! <h1>show filtered results here</h1> }}
  {{#each restaurants as |restaurant|}}
    <h2 class='reviews-title'>Reviews for {{restaurant.name}}</h2>

    <ul class='nav-list'>
      <li class='nav-item new-post-button'><a
          href='/new'
          class='nav-link'
        >Create New Review for
          {{restaurant.name}}</a></li>
    </ul>
    {{#each users}}
      <div class='reviews-section'>
        <ul class='reviews-list'>
          <li>
            <p class='review-rating'>Rating: {{review.rating}}/5</p>
            <p class='review-content'>{{review.content}}</p>
            <p>Review by: {{username}}</p>
          </li>
        </ul>
      </div>
    {{/each}}
  {{/each}}
</div>