<div class='homepage-container'>
  {{! <h1>show filtered results here</h1> }}
  {{#each restaurants as |restaurant|}}
    <div class='reviews-header'>
      <h2 class='reviews-title'>Reviews for {{restaurant.name}}</h2>
      <a href='/new' class='create-new-button'>Create New Review for
        {{restaurant.name}}</a>
    </div>
    {{#each users}}
      <div class='reviews-section'>
        <ul class='reviews-list'>
          <li class='review-item'>
            <p class='review-rating'>Rating: {{review.rating}}/5</p>
            <p class='review-content'>{{review.content}}</p>
            <p class='review-author'>Review by: {{username}}</p>
          </li>
        </ul>
      </div>
    {{/each}}
  {{/each}}
</div>