<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class='homepage-container'>
      <h1 class='homepage-title'>Welcome to the Homepage</h1>

      {{#if loggedIn}}
        <ul class='nav-list'>
          <li class='nav-item'><a href='/new' class='nav-link'>Create New Post</a></li>
          <li class='nav-item'><a
              href='#'
              class='logout-button'
              id='logout'
            >Logout</a></li>
        </ul>
        <div class='reviews-section'>
          <h2 class='reviews-title'>Reviews</h2>
          <ul class='reviews-list'>
            {{#each reviews}}
              <li>
                <h3 class='review-restaurant'>{{this.restaurant}}
                  in
                  {{this.city}}</h3>
                <p class='review-rating'>Rating: {{this.rating}}/5</p>
                <p class='review-content'>{{this.content}}</p>
              </li>
            {{/each}}
          </ul>
        </div>
      {{else}}
        <p class='login-redirect'>Please
          <a href='/login'>login</a>
          to go to access the page.</p>
      {{/if}}
    </div>
    <script src='/js/logout.js'></script>
  </body>
</html>