<div class='homepage-container'>
  <div class='reviews-title-section'>
    <h2 class='reviews-title'>Reviews</h2>
    <a href='/new' class='nav-link' id='createNewReviewBtn'>Create New Review</a>
  </div>
  <div class='reviews-section'>
    <aside id='filters' class='filter-section'>
      <form id='filterSubmit' class='filter-form'>
        <h4>City:</h4>
        <input type='text' id='city-input' class='form-input' required />
        <h4>Type:</h4>
        <label class='checkbox-container' for='sit-down'>
          Sit-down
          <input type='checkbox' id='sit-down' name='typeOptions' value='sit' />
          <span class='checkmark'></span>
        </label><br />
        <label class='checkbox-container' for='quick-bites'>
          Quick bites
          <input
            type='checkbox'
            id='quick-bites'
            name='typeOptions'
            value='quick'
          />
          <span class='checkmark'></span>
        </label><br />
        <label class='checkbox-container' for='cafe'>
          Cafe
          <input type='checkbox' id='cafe' name='typeOptions' value='cafe' />
          <span class='checkmark'></span>
        </label>
        <h4>Cuisine:</h4>
        {{#each cuisineOptions as |cuisine|}}
          <label class='checkbox-container'>
            {{cuisine}}
            <input
              type='checkbox'
              id='{{cuisine}}'
              name='cuisineOptions'
              value='{{cuisine}}'
            />
            <span class='checkmark'></span>
          </label>
        {{/each}}
        <h4>Price Range:</h4>
        <label class='checkbox-container'>
          $
          <input type='checkbox' id='cheap' name='priceOptions' value='$' />
          <span class='checkmark'></span>
        </label>
        <label class='checkbox-container'>
          $$
          <input
            type='checkbox'
            id='affordable'
            name='priceOptions'
            value='$$'
          />
          <span class='checkmark'></span>
        </label>
        <label class='checkbox-container'>
          $$$
          <input type='checkbox' id='fancy' name='priceOptions' value='$$$' />
          <span class='checkmark'></span>
        </label>
        <label class='checkbox-container'>
          $$$$
          <input
            type='checkbox'
            id='premium'
            name='priceOptions'
            value='$$$$'
          />
          <span class='checkmark'></span>
        </label>
        <h4>Rating:</h4>
        <label class='checkbox-container'>
          5-star
          <input
            type='checkbox'
            id='five-star'
            name='ratingOptions'
            value='5'
          />
          <span class='checkmark'></span>
        </label>
        <label class='checkbox-container'>
          4-star
          <input
            type='checkbox'
            id='four-star'
            name='ratingOptions'
            value='4'
          />
          <span class='checkmark'></span>
        </label>
        <label class='checkbox-container'>
          3-star
          <input
            type='checkbox'
            id='three-star'
            name='ratingOptions'
            value='3'
          />
          <span class='checkmark'></span>
        </label>
        <label class='checkbox-container'>
          2-star
          <input type='checkbox' id='two-star' name='ratingOptions' value='2' />
          <span class='checkmark'></span>
        </label>
        <label class='checkbox-container'>
          1-star
          <input type='checkbox' id='one-star' name='ratingOptions' value='1' />
          <span class='checkmark'></span>
        </label>
        <button class='apply-filters' type='submit'>Apply Filters</button>
      </form>
    </aside>
    <ul class='reviews-list'>
      {{#each reviews}}
        <li class='review-card'>
          <h3 class='review-restaurant'><a
              href='/review/{{this.restaurant_id}}'
            >{{this.restaurant}}</a>
            in
            {{this.city}}</h3>
          <p class='review-rating'>Rating: {{this.rating}}/5</p>
          <p class='review-content'>{{this.content}}</p>
          <p class='review-author'>Review by: {{user.username}}</p>
        </li>
      {{/each}}
    </ul>
  </div>

</div>

<script src='/js/filter.js'></script>