<div class='homepage-container'>
  <div class='reviews-header'>
    <h2 class='reviews-title'>Review Results for {{restaurant.name}} Below</h2>
    <a href='/new' class='create-new-button'>Create New Review for
      {{restaurant.name}}</a>
  </div>
  {{#each reviews}}
    <div class='reviews-section'>
      <ul class='reviews-list'>
        <li class='review-item'>
          <p class='review-rating'>Rating: {{rating}}/5</p>
          <p class='review-content'>{{content}}</p>
          <p class='review-author'>Review by: {{user.username}}</p>
        </li>
      </ul>
    </div>
  {{/each}}
</div>